<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dashrunningapp" >

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dash"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.SignUp"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".activity.login"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dashrunningapp.activity.login" />
        </activity>
        <activity android:name=".activity.login" />
        <activity
            android:name=".activity.SplashScreen"
            android:theme="@style/SplashScreen" >

        </activity>


        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>




        </activity>




    </application>

</manifest>